<footer class="footer is-small has-background-warning">
  <div class="columns container has-text-centered">
    <div class="column">
      <h1>Blabla</h1>
    </div>
    <div class="column">
      <h1>Réseaux</h1>
    </div>
    <div class="column">
      <h1>Liens</h1>
    </div>
    <div class="column">
        <h1>Liens</h1>
      </div>


  </div>
</footer>