.features {

  .content {
    margin-top: 150px;

    .description {
      .description-title {
        text-align: center;

        font: {
          size: 35px;
          weight: bold;
        }

        color: #00213c;
      }
    }
  }

  .row {
    margin-bottom: 100px;
  }
}
