<section class="features">
  <h2 class="section-title">Features</h2>
  <h4 class="section-subtitle">What we are doing for you</h4>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="https://placekitten.com/500/400" alt="">
        </div>
        <div class="description col-md-6 my-auto">
          <h5 class="description-title">First</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, eum accusantium non perspiciatis
            quisquam odio minima quia, impedit aliquid quo aperiam temporibus modi ratione maxime tempore quod
            perferendis eveniet optio?</p>
        </div>
      </div>
      <div class="row">
        <div class="description col-md-6 my-auto">
          <h5 class="description-title">Second</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, eum accusantium non perspiciatis
            quisquam odio minima quia, impedit aliquid quo aperiam temporibus modi ratione maxime tempore quod
            perferendis eveniet optio?</p>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="https://placekitten.com/500/400" alt="">
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" src="https://placekitten.com/500/400" alt="">
          </div>
          <div class="description col-md-6 my-auto">
            <h5 class="description-title">Third</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, eum accusantium non perspiciatis
              quisquam odio minima quia, impedit aliquid quo aperiam temporibus modi ratione maxime tempore quod
              perferendis eveniet optio?</p>
          </div>
        </div>
    </div>
  </div>
</section>
