<div class="container">
    <h2 class="section-title">Create profil</h2>
    <form class="d-flex flex-column col-md-6 offset-md-3" [formGroup]="adForm" (ngSubmit)="addUserSubmit()">
      <mat-form-field>
        <input matInput placeholder="Name" type="text" formControlName="name" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Surname" type="text"  formControlName="surname" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" type="text" formControlName="email" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password" >
      </mat-form-field>
      <div class="ml-auto button-group">
        
        <button mat-raised-button color="primary" type="submit" >Create</button>
  
      </div>
  
  
    </form>
  </div>
  