<div class="columns is-mobile">
    <div class="column is-three-fifths is-offset-one-fifth">
        <p class="has-text-centered">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam molestiae illo officiis deserunt obcaecati iure odio repellat explicabo dolor sint at, ex dolorum, dolorem maxime! Perspiciatis sit sed dicta eaque.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam molestiae illo officiis deserunt obcaecati iure odio repellat explicabo dolor sint at, ex dolorum, dolorem maxime! Perspiciatis sit sed dicta eaque.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam molestiae illo officiis deserunt obcaecati iure odio repellat explicabo dolor sint at, ex dolorum, dolorem maxime! Perspiciatis sit sed dicta eaque.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam molestiae illo officiis deserunt obcaecati iure odio repellat explicabo dolor sint at, ex dolorum, dolorem maxime! Perspiciatis sit sed dicta eaque.</p>
    </div>
  </div>
