<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="#">Us</a>
        <a class="nav-item nav-link active" href="#">Our Engagements</a>
        <a class="nav-item nav-link active" href="#">Help</a>
        <a class="nav-item nav-link active" href="#">Blog</a>
        <a class="nav-item nav-link active" href="#">Job</a>
      </div>
    </div>

    <div class="login">
    <a class="login-btn active btn ml-5 login" [routerLink]="['/login']" *ngIf=(!logged())>Login</a>
    <a class="admin-btn active btn ml-5" [routerLink]="['/user-admin']" *ngIf=(logged())>
      <fa-icon [icon]="faUser"></fa-icon>
    </a>
    <a class="logout-btn active btn ml-3 logout" *ngIf=(logged()) (click)="logout()">Logout</a>
    </div>
  </div>

</nav>



