nav {

  ul {
    list-style: none;
  }

  .nav-item {
    color: #00213c;
  }

  .nav-link {
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: #ff0777;
      transition: .4s;
    }
  }

  .login-btn,
  .logout-btn{
    background-color: rgb(0, 255, 191);
    font-weight: 700;
    border-radius: 20px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    height: 40px;
  }

  .navbar-brand {
    font-weight: bold;
    background-image: url("../../assets/img/transbud.svg");
    background-repeat:no-repeat;
    background-position: center;
    height:35px;
    width:150px;
  }
}

.admin-btn{
  color: rgb(0, 255, 191);
  font-size:20px;
}


@media screen and (max-width: 992px) {
.navbar{
  background-color: #230f55;
  text-align:center;
  padding-left:30px;
  padding-right:30px;
}
.navbar-brand {
  order:-3;
  background-image: url("../../assets/img/tb.svg") !important;
  width:35px !important;

}
.navbar .container {
  min-width:100%;
}
.login {
  order:-2;
  margin-left:auto;
  padding-right:30px;
}

}

.navbar-collapse {
  z-index: 100000000000;

}