<div class="container">
    <h2 class="section-title">Connection</h2>
  <form class="d-flex flex-column col-md-6 offset-md-3" [formGroup]="adForm">
    <mat-form-field>
      <input matInput placeholder="Email" type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="text" formControlName="password" >
    </mat-form-field>
    <div class="ml-auto button-group">
      <button class="ml-2" mat-raised-button color="primary" type="submit" (click)="login()">Connection</button> 
      <button mat-raised-button id="create-account-btn" color="primary"type="submit" [routerLink]="['/create-user-account']">Create Account</button>
    </div>
  </form>
</div>
