form {
  margin-top:100px;
}
.section-title {
  margin-top:100px;
  text-align:center;
  font-weight:bold;
  font-size:50px;
  text-transform:uppercase;
  color:#00213c;
}
.button-group {
  margin-top:30px;
  display: inline-flex;
  flex-direction: row-reverse;
}

// #create-account-btn {
//   background-color: #ff3777;
//   color: white;
// }
