.banner {
  text-align:center;
  h1{
    font-weight:bold;
    color:white;
    text-align:center;
    font-size: 50px;
  }
  h3 {
    color: rgb(0, 255, 191);
    text-transform:uppercase;
    letter-spacing: 2px;
    font-size: 20px;
  }
  img {
    padding-top:100px;
    height:100%;
  }
}


@media screen and (max-width: 992px) {
  // .phones{
  //   height: 100%;
  //   bottom:0;
  // }
  
  }