<section class="banner">
  <h1>Manage your money become easier</h1>
  <h3>100% free and secure application</h3>
  <div class="phones">
    <img class="img-fluid" src="../../assets/img/iphone.png">
  </div>
</section>
