.partners{  
  background: linear-gradient(to right, rgb(46, 21, 129), rgb(148, 61, 248));
  .section-title {
    color:white;
  }
  .section-subtitle {
    color:rgb(0, 255, 191);
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 576px) {
  .partners {
    img {
      margin-bottom:20px;
    }
  }
}