<section class="partners">
  <h2 class="section-title">Partners</h2>
  <h4 class="section-subtitle">They are trusted us</h4>
  <div class="container">
    <div class="row">
<div class="col-md-3 col-sm-6 mb-sm-4 col-xs-4 w-100">
  <img class="img-fluid w-100" src="https://placekitten.com/200/200" alt="">
</div>
<div class="col-md-3 col-sm-6 mb-sm-4 col-xs-4 w-100">
    <img class="img-fluid w-100" src="https://placekitten.com/200/200" alt="">
  </div>
  <div class="col-md-3 col-sm-6 mb-sm-4 col-xs-4 w-100">
      <img class="img-fluid w-100" src="https://placekitten.com/200/200" alt="">
    </div>
    <div class="col-md-3 col-sm-6 mb-sm-4 col-xs-4 w-100">
        <img class="img-fluid w-100" src="https://placekitten.com/200/200" alt="">
      </div>
    </div>
  </div>
</section>
