<div class="container">
  <h2 class="section-title">Add Account</h2>
  <form class="d-flex flex-column col-md-6 offset-md-3" [formGroup]="AccountForm" (ngSubmit)="onSubmitForm()">
    <mat-form-field>
      <input matInput placeholder="Account name" type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Bank" type="text" formControlName="bank">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Balance" type="text" formControlName="balance">
    </mat-form-field>
    <div class="ml-auto button-group">
      <button class="ml-2" mat-raised-button color="primary" type="submit">Create account</button>
    </div>
  </form>
</div>


