<!-- <app-account ></app-account> -->

<form [formGroup]="adForm" (ngSubmit)="addUserSubmit()">
<h1 class="is-size-1 has-text-centered">Inscription</h1>
  <div class="columns">
    <div class="column is-4 is-offset-4">
        <div class="field">
            <label class="label">Surname</label>
            <div class="control">
              <input class="input" type="text" formControlName="surname" >
            </div>
          </div>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" formControlName="name">
            </div>
          </div>
    
      <div class="field ">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" formControlName="email">
        </div>
      </div>

      <div class="field">
        <label class="label">Mot de passe</label>
        <div class="control">
          <input class="input" type="password" formControlName="password">
        </div>
      </div>

      <div class="field">
        <p class="control">
          <button class="button is-success" type="submit" value="addUserSubmit">
            Register
          </button>
        </p>
      </div>
    </div>
  </div>
</form>