@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto Condensed', sans-serif;
}

section {
  padding-top: 150px;
  padding-bottom:150px;
  .section-title {
    text-align:center;
    font-weight:bold;
    font-size:60px;
    text-transform:uppercase;
    color:#00213c;
  }
  .section-subtitle {
    text-align:center;
    color: rgb(255, 0, 119);
    font-size:16px;
    text-transform:uppercase;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
}

.navbar {
  background-color:#301583;
  transition: background-color .4s ease-in-out;
}
.page-home {
  position: relative;
  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgb(46, 21, 129), rgb(148, 61, 248));  }
 .navbar {
   background-color: transparent;
 }

 .banner {
   height: calc(100vh - 61px);
   overflow-y: hidden;
 }
}


form {
  margin-top:100px;
}
.section-title {
  text-align:center;
  font-weight:bold;
  font-size:50px;
  text-transform:uppercase;
  color:#00213c;
}
.button-group {
  margin-top:30px;
}

a {
  outline: 0;
}
