.add-account,
.account {
  height: 350px;
  border-radius: 15px;
  background: linear-gradient(#301583, #5a2090);
  margin-top: 100px;
}

.add-account h3,
.account h3 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

.account p {
  color: #ff3777;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.add-account:hover {
  background: #5a2090;
  path {
    fill: #ff3777;
    transition: .4s;
  }
}

.section-title {
  padding-top:100px;
}