<div class="container">
  <h2 class="section-title">My Account</h2>
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <a [routerLink]="['/addaccount']">
        <div class="add-account d-flex justify-content-center align-items-center flex-column">
          <h3 class="mb-4">Add account</h3>
          <!-- <img height="60px" width="60px" src="../../assets/img/add-account.svg" alt=""> -->
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
            <g>
              <g id="add-circle-outline">
                <path d="M280.5,127.5h-51v102h-102v51h102v102h51v-102h102v-51h-102V127.5z M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255    s255-114.75,255-255S395.25,0,255,0z M255,459c-112.2,0-204-91.8-204-204S142.8,51,255,51s204,91.8,204,204S367.2,459,255,459z" fill="#FFFFFF"/>
              </g>
            </g>
            </svg>
        </div>
      </a>
    </div>
    <div class="col-4" *ngFor='let account of accounts'>
        <a [routerLink]="['/user/account/',account['id']]">
      <div class="account d-flex justify-content-center align-items-center flex-column">
        <h3>{{account.name}}</h3>
        <p>{{account.balance | localNumber:"fr"}} €</p>
      </div>
      </a>
      </div>

  </div>
