.operation  {
  height: 90px;
  background-color: #301583;
  border-radius:5px;
  margin-bottom: 20px;
}
.operations {
  margin-top:100px;
}

.bloup{
  list-style: none;
  color:white;
  font-weight:bold;
  padding-top:10px;

}

.bim{
  text-align:center;
}
.bim .amount{
  font-size:25px;
}
h4 {
  text-align:center;
}


.account-banner {
  text-align:center;
  margin-top:100px;
  h2{
    font-weight:bold;
    font-size:40px;
    
  }
  h4{

  }
}