<!--

<p *ngIf="account">{{account.solde}}</p>
<p>Somme des débits : {{stat["debit"]}}</p>
<p>somme des crédits : {{stat["credit"]}}</p>

<form (submit)="add(newOperation) ">
<input type="text" [(ngModel)]="newOperation.montant" name="montant" placeholder="ajouter une opération">
<select [(ngModel)]="newOperation.category" name="category">
  <option *ngFor="let category of categories" value="{{category.id}}">{{category.label}}</option>
</select>
<button>ajouter</button>
</form>
<table class='is-responsive table'>
  <thead>
    <tr>
  <th>Crédit</th>
  <th>Débit</th>
  <th>Date</th>
</tr>
</thead>
<tbody>
  <tr *ngFor='let operation of operations'>
    <td *ngIf='operation.montant>0'>{{operation.montant}}</td>
    <td *ngIf='operation.montant>0'></td>

    <td *ngIf='operation.montant<0'></td>
    <td *ngIf='operation.montant<0'>{{operation.montant}}</td>

    <td>{{operation.date.timestamp| dateFromApi| date:"d/M/y"}}</td>
   
    <td><button (click)='remove(operation)'>Remove</button></td>

<form (submit)="add(newOperation)">
  <input type="text" [(ngModel)]="newOperation.montant" [ngModelOptions]="{standalone: true}" placeholder="ajouter une opération">
  <button>ajouter</button>
</form>

-----------------------------------------------------------------------


 <div class="container">
  <h2 class="section-title">Account name</h2>
  <form (submit)="add(newOperation) ">
    <input type="text" [(ngModel)]="newOperation.amount" [ngModelOptions]="{standalone: true}" placeholder="ajouter une opération">
    <button>ajouter</button>
  </form>
  <div class="col-md-8">
    <div class="row">
      <table class='is-responsive table'>
        <thead>
          <tr>
            <th>Crédit</th>
            <th>Débit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let operation of operations'>
            <td *ngIf='operation.amount>0'>{{operation.amount}}</td>
            <td *ngIf='operation.amount>0'></td>

            <td *ngIf='operation.amount<0'></td>
            <td *ngIf='operation.amount<0'>{{operation.amount}}</td>

            <td><button (click)='delete(operation)'>Remove</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="charts col-md-4">

  </div>


  <p *ngIf="account">{{account.balance}}</p>
</div> 


#############################################################################################

-->


<div class="container">
  <div class="account-banner">
      <h4>{{account.name}}</h4>
  <h2>{{account.balance | localNumber:"fr"}} €</h2>
  </div>

  <form (submit)="add(newOperation) ">
    <input type="text" [(ngModel)]="newOperation.amount" name="amount" placeholder="add an operation">
    <select [(ngModel)]="newOperation.category" name="category">
      <option *ngFor="let category of categories" value="{{category.id}}">{{category.label}}</option>
    </select>
    <button>ajouter</button>
    </form>


  <div class="row">
    <div class="col-12 operations" >
      <div class="operation" *ngFor='let operation of operations' >
        <ul class="bloup d-flex justify-content-around">
          <li class="bim d-flex flex-column">
            <p class="title text-align-center mb-2">Amount</p>
            <p class="amount text-align-center">{{operation.amount| localNumber:"fr"}}€</p>
          </li>
          <li class="bim d-flex flex-column">
            <p class="title text-align-center mb-2">Date</p>
            <p class="amount text-align-center">{{operation.date.timestamp| dateFromApi| date:"d/M/y"}}</p>
          </li>
          <li class="bim d-flex flex-column">
            <p class="title text-align-center mb-2">Category</p>
            <p class="amount text-align-center">{{operation.category.label}}</p>
          </li>
          <li class="bim d-flex flex-column">
            <button (click)="remove(operation)"><i class="fas fa-trash-alt"></i></button>
            
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>